@font-face {
    font-family: "SF_Compact";
    src: url(fonts/SFCompactDisplay-Black.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing:     border-box;
}

.back_poster{
    width: 1280px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.37) 17.314%,rgb(17, 17, 17) 101.854%),url(images/poster1.jpg);
    background-size: cover;
}
ion-icon{
    width: 19.08px;
    height: 19.2px;
}

.num{
    font-family: "SF_Compact";
}